
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin-top: 50px;
}
h1 {
    text-align: center;
    color:darkcyan;
}
.toBuy {
    width: 80%;
    margin: 0 auto;

    &__addBtn, &__clearBtn {
        border-radius: 7px;
        background-color: rgba(220, 235, 203, 0.5);
        border: 2px solid darkcyan;
        color:darkcyan;
        &:active {
            background-color: rgba(130, 217, 221, 0.75);
        }
    }
   
    &__mainPanel {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
        input {
            width: 60%;
            border: 1px solid darkcyan;
            border-radius: 7px;
            color:darkcyan;
            &:focus {
                background-color: rgba(220, 235, 203, 0.5);
                outline: none
            }
        }
    }
    &__list {
        width: 100%;
        margin: 30px auto 0 auto;
        max-height: 420px; 
        overflow: auto;
        
    }
    &__listItem {
        display: flex;
        align-items: center;
        height: 40px;
        padding-top: 5px;
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        transition: all 1.5s;
    }
    &__btn {
        width: 30px;
        height: 30px;
        border: none;
        margin-right: 5px;
        cursor: pointer;
        color: #81BCBF;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lemonchiffon;
        transition: all 1.5s;
    }
}

.active-item {
    opacity: 1;
    color:darkcyan;
    border: 1px solid darkcyan;
    background-color: rgba(220, 235, 203, 0.5);
}
.btn-active {
    color: darkcyan;
}

.btn-pushed {
    color: #fff;
}

.done-item {
    span {
        text-decoration: line-through;
    }
    
    color: grey;
    border: 1px solid grey;
    background-color: #fff;
}